.fullscreenButton {
    background: #02d60a;
    color: white;
}

.fullscreenButton svg {
    width: 32px;
    height: 32px;
}

.fullscreenButton:hover {
    background: #0aa50f;;
}

.fullscreenButton:active {
    transform: scale(0.9);
}