.music-toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.toggle-button {
    font-weight: bold;
    color: #ffffff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 12px 0;
    border-radius: 12px;
    font-size: 1.9rem;
    height: 50px;
    width: 269px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.toggle-button:hover {
    background-color: #45a049;
}

.toggle-button:active {
    transform: scale(0.95);
}

.playing {
    background-color: #f44336;
}

.icon {
    margin-right: 8px;
}